{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:nuxt/recommended",
    "prettier",
  ],
  "plugins": [],
  "rules": {
    "vue/component-definition-name-casing": "off",
    "vue/valid-v-slot": "off",
    "eslint-plugin-vue": "off",
    "camelcase": "off",
    "import/first": "off",
    "import/order": "off"
  }
}
